body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #173d02;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bd6720;
}

.about-us, .our-mission, .our-team {
    padding: 100px 20px 50px; /* Adjusted padding to account for fixed navbar */
    background-color: #fff;
    text-align: center;
}

.about-us h1, .our-mission h2, .our-team h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-us p, .our-mission p, .our-team p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.our-team .team-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-team .team-member {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #e1ba9a;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.our-team .team-member img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.our-team .team-member h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

footer {
    background-color: #173d02;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
