body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #173d02;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bd6720;
}

.banner {
    background: url('header.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.banner-content h1 {
    font-size: 3em;
    margin: 0 0 10px;
}

.banner-content p {
    font-size: 1.5em;
}

.banner-content .btn {
    padding: 10px 20px;
    background-color: #173d02;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.banner-content .btn:hover {
    background-color: #bd6720;
}

.features, .services {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.features h2, .services h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.feature-grid, .service-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-item, .service-item {
    flex: 1;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #c7faac;
    border: 1px solid #ddd;
    box-shadow: #eba604;
    border-radius: 8px;
    text-align: left;
}

.feature-item h3, .service-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer {
    background-color: #173d02;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
